In [133]:
# Import libraries

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt
plt.style.use('ggplot')
from matplotlib.pyplot import figure

matplotlib.rcParams['figure.figsize'] = (12,8) # Sets all future figure sizes

In [134]:
# Read in the data
df = pd.read_csv('movies.csv')

In [135]:
df.head()

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
0,The Shining,R,Drama,1980,"June 13, 1980 (United States)",8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,46998772.0,Warner Bros.,146.0
1,The Blue Lagoon,R,Adventure,1980,"July 2, 1980 (United States)",5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.0,58853106.0,Columbia Pictures,104.0
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980 (United States)",8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000.0,538375067.0,Lucasfilm,124.0
3,Airplane!,PG,Comedy,1980,"July 2, 1980 (United States)",7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.0,83453539.0,Paramount Pictures,88.0
4,Caddyshack,R,Comedy,1980,"July 25, 1980 (United States)",7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000.0,39846344.0,Orion Pictures,98.0

In [136]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7668 entries, 0 to 7667
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      7668 non-null   object
 1   rating    7591 non-null   object
 2   genre     7668 non-null   object
 3   year      7668 non-null   int64
 4   released  7666 non-null   object
 5   score     7665 non-null   float64
 6   votes     7665 non-null   float64
 7   director  7668 non-null   object
 8   writer    7665 non-null   object
 9   star      7667 non-null   object
 10  country   7665 non-null   object
 11  budget    5497 non-null   float64
 12  gross     7479 non-null   float64
 13  company   7651 non-null   object
 14  runtime   7664 non-null   float64
dtypes: float64(5), int64(1), object(9)
memory usage: 898.7+ KB

## Data cleaning

In [137]:
# Checking for missing data

for col in df.columns:
    print(df[col].isna().value_counts())

name
False    7668
Name: count, dtype: int64
rating
False    7591
True       77
Name: count, dtype: int64
genre
False    7668
Name: count, dtype: int64
year
False    7668
Name: count, dtype: int64
released
False    7666
True        2
Name: count, dtype: int64
score
False    7665
True        3
Name: count, dtype: int64
votes
False    7665
True        3
Name: count, dtype: int64
director
False    7668
Name: count, dtype: int64
writer
False    7665
True        3
Name: count, dtype: int64
star
False    7667
True        1
Name: count, dtype: int64
country
False    7665
True        3
Name: count, dtype: int64
budget
False    5497
True     2171
Name: count, dtype: int64
gross
False    7479
True      189
Name: count, dtype: int64
company
False    7651
True       17
Name: count, dtype: int64
runtime
False    7664
True        4
Name: count, dtype: int64

In [138]:
for col in df.columns:
    pct_missing = np.mean(df[col].isnull(),)
    print(f'{col}: {pct_missing}%')

name: 0.0%
rating: 0.010041731872717789%
genre: 0.0%
year: 0.0%
released: 0.0002608242044861763%
score: 0.0003912363067292645%
votes: 0.0003912363067292645%
director: 0.0%
writer: 0.0003912363067292645%
star: 0.00013041210224308815%
country: 0.0003912363067292645%
budget: 0.2831246739697444%
gross: 0.02464788732394366%
company: 0.002217005738132499%
runtime: 0.0005216484089723526%

**Handling missing values for those columns missing < 5% of data**

Introducing 'Unknown' value for rating

In [139]:
df.loc[df['rating'].isna() == True, 'rating'] = 'Unknown'

In [140]:
df['rating'].isna().value_counts()

rating
False    7668
Name: count, dtype: int64

Manually asigning release data

In [141]:
df[df['released'].isna() == True]

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
5728,Saw: The Final Chapter,R,Crime,2010,NaN,5.6,93000.0,Kevin Greutert,Patrick Melton,Tobin Bell,NaN,NaN,NaN,NaN,NaN
5730,The Wolfman,R,Drama,2010,NaN,5.8,104000.0,Joe Johnston,Andrew Kevin Walker,Benicio Del Toro,NaN,NaN,NaN,NaN,NaN

In [142]:
df.loc[df['name'] == 'Saw: The Final Chapter', 'released'] = '29 October, 2010 (United States)'

In [143]:
df.loc[df['name'] == 'The Wolfman', 'released'] = 'February 12, 2010 (United States)'

In [144]:
df[df['released'].isna() == True]

Empty DataFrame
Columns: [name, rating, genre, year, released, score, votes, director, writer, star, country, budget, gross, company, runtime]
Index: []

Manually inputing missing scores via IMDb or imputing via avereage score for that budget

In [145]:
df[df['score'].isna() == True]

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
7661,Love by Drowning,R,Drama,2020,"November 6, 2020 (United States)",NaN,NaN,Justin Kreinbrink,C.E. Poverman,Nicky Whelan,United States,1000000.0,NaN,Dow Jazz Films,121.0
7662,The Robinsons,Unknown,Action,2020,"November 10, 2020 (United States)",NaN,NaN,Directors,Aleks Alifirenko Jr.,Billy Hartmann,United States,10000.0,NaN,NaN,90.0
7666,It's Just Us,Unknown,Drama,2020,"October 1, 2020 (United States)",NaN,NaN,James Randall,James Randall,Christina Roz,United States,15000.0,NaN,NaN,120.0

In [146]:
df.loc[df['name'] == 'Love by Drowning', 'score'] = 7.2
df.loc[df['name'] == "It's Just Us", 'score'] = 8.4

In [147]:
# IMDb data not available for The Robinsons so asigning score based on movies with similar budgets
print(df['score'][(df['budget'] > 5000.0) & (df['budget'] < 15000.0)].count())
print(np.mean(df['score'][(df['budget'] > 5000.0) & (df['budget'] < 15000.0)].count()))

5
5.0

In [148]:
df.loc[df['name'] == "The Robinsons", 'score'] = 5.0

In [149]:
df[df['score'].isna() == True]

Empty DataFrame
Columns: [name, rating, genre, year, released, score, votes, director, writer, star, country, budget, gross, company, runtime]
Index: []

Imputing 'votes' values by budget

In [151]:
df[df['votes'].isna() == True]

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
7661,Love by Drowning,R,Drama,2020,"November 6, 2020 (United States)",7.2,NaN,Justin Kreinbrink,C.E. Poverman,Nicky Whelan,United States,1000000.0,NaN,Dow Jazz Films,121.0
7662,The Robinsons,Unknown,Action,2020,"November 10, 2020 (United States)",5.0,NaN,Directors,Aleks Alifirenko Jr.,Billy Hartmann,United States,10000.0,NaN,NaN,90.0
7666,It's Just Us,Unknown,Drama,2020,"October 1, 2020 (United States)",8.4,NaN,James Randall,James Randall,Christina Roz,United States,15000.0,NaN,NaN,120.0

In [154]:
df.loc[df['name'] == 'Love by Drowning', 'votes'] = np.mean(df['votes'][df['budget'] < 1000000.0])
df.loc[df['name'] == "The Robinsons", 'votes'] = np.mean(df['votes'][df['budget'] < 15000])
df.loc[df['name'] == "It's Just Us", 'votes'] = np.mean(df['votes'][df['budget'] < 15000])

In [155]:
df[df['votes'].isna() == True]

Empty DataFrame
Columns: [name, rating, genre, year, released, score, votes, director, writer, star, country, budget, gross, company, runtime]
Index: []

Introducing 'Unknown' values for each of the remaining string type columns

In [157]:
string_cols = ['writer', 'star', 'country', 'company']

In [158]:
for col in string_cols:
    df.loc[df[col].isna() == True, col] = 'Unknown'

Imputing missing runtimes based on the average

In [163]:
df[df['runtime'].isna() == True]

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
5728,Saw: The Final Chapter,R,Crime,2010,"29 October, 2010 (United States)",5.6,93000.0,Kevin Greutert,Patrick Melton,Tobin Bell,Unknown,NaN,NaN,Unknown,NaN
5730,The Wolfman,R,Drama,2010,"February 12, 2010 (United States)",5.8,104000.0,Joe Johnston,Andrew Kevin Walker,Benicio Del Toro,Unknown,NaN,NaN,Unknown,NaN
6195,One for the Money,PG-13,Action,2012,"January 27, 2012 (United States)",5.3,41000.0,Julie Anne Robinson,Stacy Sherman,Katherine Heigl,United States,40000000.0,38084162.0,Lakeshore Entertainment,NaN
7665,Saving Mbango,Unknown,Drama,2020,"April 27, 2020 (Cameroon)",5.7,29.0,Nkanya Nkwai,Lynno Lovert,Onyama Laura,United States,58750.0,NaN,Embi Productions,NaN

In [161]:
np.mean(df['runtime'])

107.2616127348643

In [164]:
df.loc[df['runtime'].isna() == True, 'runtime'] = np.mean(df['runtime'])

In [165]:
df[df['runtime'].isna() == True]

Empty DataFrame
Columns: [name, rating, genre, year, released, score, votes, director, writer, star, country, budget, gross, company, runtime]
Index: []

gross and budget missing data will be handled later after assesing correlations. It may be possible to create a model to predict either/both

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7668 entries, 0 to 7667
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      7668 non-null   object
 1   rating    7668 non-null   object
 2   genre     7668 non-null   object
 3   year      7668 non-null   int64
 4   released  7668 non-null   object
 5   score     7668 non-null   float64
 6   votes     7668 non-null   float64
 7   director  7668 non-null   object
 8   writer    7668 non-null   object
 9   star      7668 non-null   object
 10  country   7668 non-null   object
 11  budget    5497 non-null   float64
 12  gross     7479 non-null   float64
 13  company   7668 non-null   object
 14  runtime   7668 non-null   float64
dtypes: float64(5), int64(1), object(9)
memory usage: 898.7+ KB